<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Bookmarks</h1>
	</div>
	<div class="col-md-3">
		<a ui-sref="createArticle">
			<i class="glyphicon glyphicon-plus"></i>
			<span class="bookmark-link">Add Bookmark</span>
		</a>
		<br>
		<a ui-sref="providers">
			<i class="glyphicon glyphicon-arrow-right"></i>
			<span class="bookmark-link">Connect with Provider</span>
		</a>
		<h2>Tags</h2>
	</div>
	<div class="col-md-9">
		<input class="search" ng-model="searchText" placeholder="Search">
			<div class="list-group">
			<div data-ng-repeat="article in articles | filter:searchText" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
				<div class="bookmark-details">
					<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
					<p class="list-group-item-text" data-ng-bind="article.content"></p>
					 <tags-input data-ng-model="article.tags"></tags-input>
				</div>
				<div class="edit-remove-buttons">
					<a type="button" class="btn btn-default btn-sm" data-ng-click="update(article)">
  					<i class="glyphicon glyphicon-pencil"></i>
					</a>
					<a type="button" class="btn btn-default btn-sm" data-ng-click="remove(article)">
  					<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
			No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
		</div>
	</div>
</section>