/* LIST PAGE */

a:hover {
  text-decoration: none;
}

.page-header {
  border-bottom: none;
}

.glyphicon-plus {
  margin-bottom: 20px;
  font-size: 20px;
  color: #67bdee;
}

.glyphicon-plus:hover {
  color: #b4a4cb;
}

.glyphicon-arrow-right {
  margin-bottom: 20px;
  font-size: 20px;
  color: #67bdee;
}

.glyphicon-arrow-right:hover {
  color: #b4a4cb;
}

.bookmark-link {
  margin-left: 5px;
  font-size: 20px;
  color: #67bdee;
  vertical-align: top;
}

.bookmark-link:hover {
  color: #b4a4cb;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #67bdee;
}

input.search {
  width: 30%;
  height: 48px;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #67bdee;
  border-radius: 4px;
}

.list-group-item {
  height: 130px;
  border: 3px solid #faf283;
}

.list-group-item .bookmark-details {
  display: inline-block;
  float: left;
}

.list-group-item .list-group-item-heading {
  font-size: 24px;
}

.list-group-item .list-group-item-text {
  margin-bottom: 15px;
  font-size: 18px;
  color: #73797e;
}

.list-group-item .tags input {
  display: none;
}

.list-group-item .tag-list {
  padding-left: 0;
  list-style: none;
}

.list-group-item .tag-list li.tag-item {
  display: inline;
  padding: 3px 10px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  background-color: #67bdee;
  border-radius: 5px;
}

.list-group-item .tag-list li.tag-item a {
  display: none;
}

.list-group-item .edit-remove-buttons {
  display: inline-block;
  float: right;
}

.list-group-item .edit-remove-buttons a.btn.btn-default.btn-sm {
  background-color: #faf283;
  background-image: none;
}

.list-group-item .edit-remove-buttons a.btn.btn-default.btn-sm:hover {
  background-color: #67bdee;
}

/* CREATE ARTICLE PAGE */

form {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

form input.form-control {
  height: 48px;
  padding-top: 12px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}

form input.btn.btn-default.btn-new-task {
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  text-shadow: none;
  background-color: #faf283;
  background-image: none;
  border: none;
}

form input.btn.btn-default.btn-new-task:hover {
  background-color: #67bdee;
}

form .form-group {
  margin-right: auto;
  margin-left: auto;
}